.app {
  text-align: center;
}
.app__form {
  background-color: #d4efff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 18px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: 0.3s;
}
.app__input {
  flex: 0.8;
  margin-right: 20px;
}
