.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d4efff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: 0.3s;
  margin-bottom: 15px;
}

